@import "tailwindcss";

/* the way to write --{property}-{modifier}-{value} equals CSS variable*/
/* tailwinds will use it in reference like 
.bg-zinc-500 {
  background-color: var(--color-zinc-500);
} */
/* CSS class is like JS function, CSS variable is like JS var */
/* we are selectively overriding zinc scale */
/* The problem without @layer is that, depending on the order in bundler, the CSS applied might be in a different order */
/* @layer solves that */
@theme {
  /* here is where design tokens are defined */
  --font-family-mono: 'var(--font-geist-mono)', ui-monospace, 'SFMono-Regular', monospace;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--color-zinc-950);
  color: var(--color-zinc-100);
  font-family: var(--font-family-mono);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}